*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #CD5D5D;
}
h1{
    text-align: center;
    margin-top: 38px;
    font-family: Inter;
    font-size: 64px;
    font-weight: 700;
    line-height: 77.45px;

}
.yellow{
    color: yellow;
}
.container{
    width: 1200px;
    margin:0 auto;
    background-color: yellow;
    padding: 14px 50px;
}
.now{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.now ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 91px;
}
.log{
    font-family: Inter;
    font-size: 40px;
    font-weight: 400;
    line-height: 48.41px;
    text-align: center;
}
.card{
width: 300px;
background-color: black;
color: white;
text-align: center;
}
.card img{
width: 300px;
}
.card-title{
padding: 24px 30px;
}
.card-title p{
margin-top: 18px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 15.73px;
}
.card h3{
font-family: Inter;
font-size: 24px;
font-weight: 700;
line-height: 29.05px;
text-align: center;
}
.row{
    margin-top: 23px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px;
}